#menuBar {
    background-color: #efefef;
    width: 100%;
    position: fixed;
    z-index: 444;
}

#background {
    background-color: #f7f7f7;
}

#contentBox {
    padding-top: 1%;
}

#textSegment {
    white-space:pre-wrap;
}